*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

body {
    background-color: #FFF8D3;
}
body::-webkit-scrollbar {
    width: 0;
}

body.scroll-lock {
    overflow: hidden;
}

ul[class],
ol[class] {
  padding: 0;
}

ul[class] {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button {
    font-family: 'Rubik-Regular';
    background: #FFD1A6;
    color: #465F56;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 19px;
    border-radius: 10px;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
}

button:active {
    background: #465F56;
    color: #FFFFFF;
    outline: none;
    border: none;
}

h2 {
    font-family: 'Rubik-Medium';
    font-size: 36px;
    line-height: 42px;
    color: #465F56;
    letter-spacing: 1px;
}

h3 {
    font-family: 'Rubik-Regular';
    font-size: 20px;
    line-height: 23px;
    color: #465F56;
}

a {
    text-decoration: none;
}

input {
    width: 100%;
    font-family: 'Rubik-Regular';
    font-size: 18px;
    line-height: 24px;
    padding: 10px 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 3px rgba(74, 90, 219, 0.1);
    border-radius: 10px;
    border: none;
    outline: none;
}

::placeholder {
    font-family: 'Rubik-Light';
    color: #C4C4C4;
}

input:focus {
    outline: none;
    border: none;
}

/* ---------------------------------------------------------------------------------------- */

.regular_text {
    font-family: 'Rubik-Regular';
    font-size: 18px;
    line-height: 23px;
    color: #465F56;
}

.light_text {
    font-family: 'Rubik-Light';
    color: #465F56;
}

/* ---------------------------------------------------------------------------------------- */

.body_wrapper {
    width: 100%;
    padding: 40px 85px;
}

.container {
    max-width: 1300px;
    background-color: #FFFFFF;
    padding: 0px 40px;
}

.page_box {
    box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.page_box {
    margin-bottom: 20px;
}

footer.page_box {
    margin-bottom: 0;
}

.main_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.main_img img {
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

/* ---------------------------------------------------------------------------------------- */

.header_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 40px;
    background: #FFD1A6;
}

.header_title h2 {
    font-size: 24px;
}

.social_link {
    font-size: 34px;
}

.social_link:not(:last-child){
    margin-right: 15px;
}

.social_link:active::before {
    color: #FFFFFF;
}

/* ---------------------------------------------------------------------------------------- */

.hello_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 118px 40px 140px 40px;
}

.hello_container.row_reverse{
    flex-direction: row-reverse;
}
.hello_container.row_reverse .hello_title h3{
    margin-bottom: 10px;
}

.hello_img {
    opacity: 0;
    transition: all 1s ease 0.3s;
}

.hello_img.active {
    opacity: 1;
    transition: all 1s ease 0.3s;
}

.hello_title {
    width: 38%;
}

.hello_title h2 {
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease 1s;
}

.hello_title h2.active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s ease 1s;
}

.hello_title span {
    display: block;
    width: 100%;
    max-width: 365px;
    height: 2px;
    background-color: #465F56;
    margin: 2px 0px 18px 0px;
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease 1.5s;
}

.hello_title span.active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s ease 1.5s;
} 

.hello_title h3 {
    transform: translateY(100%);
    opacity: 0;
    transition: all 1s ease 1.8s;
}

.hello_title h3.active {
    transform: translateY(0%);
    opacity: 1;
    transition: all 1s ease 1.8s;
}

/* ---------------------------------------------------------------------------------------- */

.quastion_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 50px 160px 60px 160px;
}

.quastion_items {
    width: 100%;
    margin: 80px 0px 85px 0px;
    padding-left: 40px;
}

.quastion_item:not(:last-child){
    margin-bottom: 20px;
}

.quastion_answer h3 {
    position: relative;
    z-index: 50;
}

.quastion_answer h3:not(:last-child){
    margin-bottom: 35px;
}

.quastion_title,
.quastion_item,
.quastion_answer-item,
.quastion_why-title {
    display: flex;
    align-items: center;
}

.quastion_title::before {
    content: url(../img/svg/header-icon.svg);
    margin-right: 10px;
}

.quastion_item::before {
    content: url(../img/svg/header-icon-small.svg);
    margin-right: 10px;
}

.quastion_answer-item:nth-of-type(1) {
    margin-bottom: 35px;
}

.quastion_answer-item:nth-of-type(1)::before{
    content: url(../img/svg/confirm-icon.svg);
    margin-right: 10px;
}
.quastion_answer-item:nth-of-type(2)::before{
    content: url(../img/svg/confirm-icon_02.svg);
    margin-right: 10px;
}

.quastion_answer-items .confirm-title::before{
    content: url(../img/svg/confirm-icon_02.svg);
    margin-right: 10px;
}

.quastion_items .why_item {
    font-size: 20px;
}

.quastion_items .why_item::before {
    content: url(../img/svg/confirm-icon.svg);
}

.quastion_why-title::before {
    content: url(../img/svg/why-icon.svg);
    margin-right: 10px;
}

.quastion_btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.left-to-right-anim.box {
    opacity: 0;
    transform: translateX(-150%);
    transition: all 1s ease 0.4s;
}
.left-to-right-anim.box.active {
    opacity: 1;
    transform: translateX(0%);
    transition:  all 1s ease 0.4s;
}

.left-to-right-anim {
    opacity: 0;
    transform: translateX(-150%);
    transition: all 1s ease 0.8s;
}

.left-to-right-anim.delay {
    opacity: 0;
    transform: translateX(-150%);
    transition: all 1s ease 2s;
}
.left-to-right-anim.delay.active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 1s ease 2s;
}


.left-to-right-anim::before {
    opacity: 0;
    transform: translateX(-150%);
    transition: all 1s ease 0.5s;
}

.left-to-right-anim.active {
    opacity: 1;
    transition:  all 1s ease 0.5s;
    transform: translateX(0%);
}
.left-to-right-anim.active::before {
    opacity: 1;
    transition:  all 1s ease 0.5s;
    transform: translateX(0%);
}

/* -------------------------------------------------------------------------------- */

.accordion_items {
    width: 100%;
    margin-top: 70px;
}

.accordion_item {
    width: 100%;
    border-radius: 5px;
    background: #FFD1A6;
    padding: 20px 32px;
}

.accordion_item:not(:last-child){
    margin-bottom: 20px;
}

.accordion_btn {
    font-family: 'Rubik-Light';
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    text-transform: none;
    border-radius: 0px;
    padding: 0;
    background:none;
    position: relative;
    text-align: left;
}
.accordion_btn:active {
    background: #FFD1A6;
    color: #465F56;
}

.accordion_btn span:last-child {
    display: flex;
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #465F56;
    right: 0px;
    transform: rotate(90deg);
}
.accordion_btn::after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 20px;
    background-color: #465F56;
    right: 0px;
    transition: all 0.3s ease-out;
    transform: rotate(-360deg);
}
.accordion_btn.drop::after{
    transform: rotate(-90deg);
}

.acc_btn-text {
    width: 87%;
}

.acc_content {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}
.acc_content p {
    font-family: 'Rubik-Regular';
    font-size: 18px;
    margin-top: 15px;
}

/* -------------------------------------------------------------------------------- */

.footer_container {
    width: 100%;
    padding: 17px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD1A6;
}

.footer_dev-link p {
    font-size: 22px;
}

.footer_dev-link a {
    font-family: 'Rubik-Medium';
    color: #465F56;
}

/* -------------------------------------------------------------------------------- */

.request_modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.26);
    transition: all ease-in-out 0.3s;
}

.request_modal.active {
    visibility: visible;
    opacity: 1;
    transition: all ease-in-out 0.3s;
}

.request_modal__container,
.request_modal-end {
    width: 100%;
    max-width: 440px;
    background-color: #FFFFFF;
    padding: 51px 70px 47px 70px;
    display: none;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
    visibility: hidden;
    opacity: 0;
}

.request_modal__container.active,
.request_modal-end.active {
    display: flex;
    visibility: visible;
    opacity: 1; 
}

.modal_title {
    width: 100%;
    text-align: center;
}

.modal_inputs {
    margin: 33px 0px 23px 0px;
}

.modal_input:not(:last-child) {
    margin-bottom: 15px;
}

.modal_button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.send_request-btn.disabled {
    opacity: 0.6;
}
.policy_subtitle {
    margin-top: 25px;
    text-align: center;
    font-size: 15px;
}

.modal-close-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close_btn {
    position: absolute;
    right: 11px;
    top: 11px;
}

.modal-close-btn span {
    display: flex;
    width: 2.8px;
    height: 16px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 2px;
    transform: rotate(45deg);
}

.modal-close-btn::before {
    content: '';
    display: flex;
    width: 2.8px;
    height: 16px;
    background-color: #FFFFFF;
    position: absolute;
    border-radius: 2px;
    transform: rotate(-45deg);
}

.modal-end_social {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 25px 0px 30px 0px;
}

.modal-end_social .social_link:active::before {
    color: #465F56;
}

.modal_end-btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

.modal-end-close-btn {
    background: none;
    text-decoration: underline;
    color: #FFD1A6;
}

.modal-end-close-btn::before {
    display: none;
}

.modal-end-close-btn:active {
    background-color: unset;
    color: #465F56;
}

/* -------------------------------------------------------------------------------- */


@media (max-width: 1200px) {
    .hello_title {
        width: 45%;
    }
    .body_wrapper {
        padding: 40px 75px;
    }
}
@media (max-width: 1032px) {
    .body_wrapper {
        padding: 40px 60px;
    }
    .hello_container {
        align-items: center;
        flex-direction: column;
        padding: 118px 30px 140px 30px;
    }
    .hello_title {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .quastion_container {
        padding: 50px 120px 60px 120px;
    }

    .hello_container.row_reverse {
        flex-direction: column;
    }
}
@media (max-width: 960px) {
    .body_wrapper {
        padding: 40px 50px;
    }
    .quastion_container {
        padding: 50px 60px 60px 60px;
    }
}
@media (max-width: 768px) {
    .quastion_items {
        padding-left: 20px;
    }

    .accordion_item {
        padding: 20px 20px;
    }
    
    .accordion_btn {
        text-align: left;
        line-height: 22px;
        align-items: center;
    }

    .quastion_container {
        padding: 50px 40px 60px 40px;
    }

    .header_container,
    .footer_container{
        flex-direction: column;
        text-align: center;
    }

    .header_links {
        margin-top: 10px;
    }

    .footer_links {
        margin-top: 30px;
    }
}

@media (max-width: 674px) {
    .body_wrapper {
        padding: 30px 30px;
    }
    .quastion_container {
        padding: 50px 25px 60px 25px;
    }

    .quastion_title {
        flex-direction: column;
        text-align: center;
    }

    .quastion_title h2 {
        font-size: 30px;
    }
}

@media (max-width: 482px){
    .hello_title h2 {
        font-size: 30px;
    }

    .hello_container {
        padding: 60px 30px 100px 30px;
    }

    .hello_container.row_reverse {
        padding: 50px 30px 70px 30px;
    }
}

@media (max-width: 460px) {
    .body_wrapper {
        padding: 30px 15px;
    }
    .quastion_container {
        padding: 50px 20px 60px 20px;
    }

    .quastion_title h2 {
        font-size: 28px;
    }
    .quastion_items {
        padding-left: 0px;
    }
    .quastion_items {
        width: 100%;
        margin: 40px 0px 45px 0px;
    }
    .request_modal__container,
    .request_modal-end {
        max-width: 380px;
        padding: 51px 50px 47px 50px;
    }
    .accordion_btn {
        font-size: 18px;
    }
} 
@media (max-width: 420px) {
    .hello_img {
        width: 250px;
        height: 250px;
    }
    .hello_title h2 {
        font-size: 28px;
    }
    .quastion_title h2 {
        font-size: 24px;
    }
    .quastion_answer-item h3 {
        font-size: 18px;
    }
} 
@media (max-width: 400px) {
    h2 {
        line-height: 35px;
    }
    .accordion_items {
        margin-top: 30px;
    }
    .request_modal__container,
    .request_modal-end {
        max-width: 350px;
        padding: 51px 40px 47px 40px;
    }
} 
@media (max-width: 360px) {
    .request_modal__container,
    .request_modal-end {
        max-width: 300px;
        padding: 51px 30px 47px 30px;
    }
} 